.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1 { color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; padding: 20px;}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.product-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.product-card img {
  width: 80%;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 25px;
  margin: 0;
}

.product-description {
  margin: 10px 0;
}

.product-price {
  font-weight: bold;
  margin: 0;
}

.addbtn {
display: inline-block;
padding: 10px 20px;
background-color: rgb(251, 101, 101);
color: #fff;
text-decoration: none;
border-radius: 4px;
transition: background-color 0.3s ease;

}
.addbtn:hover {
  background-color: red;
}

.productList{
  text-align: center;
}

.titleh1 { color: #ff0000; font-family: 'Helvetica Neue', sans-serif; font-size: 275px; font-weight: bold; letter-spacing: -1px; line-height: 1;border-bottom: 10px; border-color:#ff0000; }
input {
  width: 70%;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
body {
  text-align: center;
  background-color: #dbdbdb;
}
form {
  display: inline-block;
}